{% extends "base.html" %}
{% load static %}
{% block title %}
    Recent Products
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "website/product.css" %}">
    <style>
        .product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>
{% endblock css_files %}
{% block content %}
    <div class="product-container">
        {% for product in products %}
            <div class="product-card">
                <a href="{% url "single-product" product.slug %}"
                   class="product-link"
                   id="product-{{ product.pk }}">
                    <div class="product-info">
                        <img src="{{ product.image.url }}"
                             alt="Product Image"
                             class="product-image">
                        <span class="product-name">{{ product.name }}</span>
                        <br>
                        <span class="product-date">{{ product.date }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
