<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error Placing Order</title>
    </head>
    <body>
        <h1>Oops! There was an error placing your order.</h1>
        <!-- Optionally, you can provide more information about the error -->
        <!-- You can also provide a link to go back to the previous page or a view of your choice -->
        <a href="{% url 'main-page' %}">Go Back</a>
    </body>
</html>
