{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "cart/order.css" %}">
{% endblock css_files %}
{% block content %}
    <div class="bill-container">
        <h1>Your Order has been Placed Successfully!</h1>
        <p>Order ID: {{ order.id }}</p>
        <p>Total Price: {{ order.total_price }}</p>
        <p class="watermark">OtisGreen&trade;</p>
        <p class="date">Date: {{ order.created_at }}</p>
        <a href="{% url 'main-page' %}">Go Back to Home</a>
    </div>
{% endblock content %}
