.product-list {
    list-style-type: none;
    padding: 0;
}

.product-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 80%;
}

.product-image {
    max-width: 100px;
    margin-right: 10px;
}

.product-info {
    flex-grow: 1;
}

.order-button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.order-button:hover {
    background-color: #45a049;
    /* Darker Green */
}